<%- include('./header.ejs') %>
<div class="container-fluid mt-4">
    <h1 class="text-center text-capitalize font-weight-bold py-4 newh" style="color: maroon;" >EXPLORE OUR PROGRAMS</h1>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-3">
            <div class="sec1">
                <div class="image">
                    <img src="https://www.alverno.edu/files/_cache/30ee5f08498e9286b01fb46927b281c1.jpg" alt="" class="w-100">
                </div>
                <div class="containh p-3">
                  <h2 class="">Find Your Major</h2>
                  <p>Explore our undergraduate programs for women.</p>
                  <button class="btn text-capitalize">Learn more</button>
                </div>
            </div>
            </div>
            <div class="col-md-3">
                <div class="sec1">
                    <div class="image">
                        <img src="https://www.alverno.edu/files/_cache/18493d1b27cef1c93c9a443a2f899ac8.jpg" alt="" class="w-100">
                    </div>
                    <div class="containh p-3">
                      <h2 class="">Transfer to Alverno</h2>
                      <p>Continue your education journey with Alverno</p>
                      <button class="btn btn">Learn more</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sec1">
                    <div class="image">
                        <img src="https://www.alverno.edu/files/_cache/452cd75c4b41dd4db711a2796eaac637.jpg" alt="" class="w-100">
                    </div>
                    <div class="containh p-3">
                      <h2 class="">Graduate Programs</h2>
                      <p> Advance your profession with our graduate programs that welcome all genders..</p>
                      <button class="btn ">Learn more</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sec1">
                    <div class="image">
                        <img src="https://www.alverno.edu/files/_cache/eb14be291a280fb203cf4c9cda4bd406.jpg" alt="" class="w-100">
                    </div>
                    <div class="containh p-3">
                      <h2 class="">Find Your Major</h2>
                      <p>Explore our undergraduate programs for women.</p>
                      <button class="btn ">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./footer.ejs') %>
