<%- include('./header.ejs') %>
<div class="w-[100%]">
    <div class="grid sm:grid-cols-2 grid-cols-1">
        <div>
            <img src="../image/girl.png" alt="" class="bg-cover bg-center">
        </div>
        <div class="p-[30px]">
            <p class="text-[20px] text-[maroon] font-[600]">LEARN ANYTHING</p>
            <h1 class="text-[45px] text-[black] font-[500]">Benefits About Online <br> Learning Expertise</h1>
            <div class="flex my-[30px] border-2 p-[25px] hover:bg-[linear-gradient(#800000de,transparent)] hover:text-white duration-400">
                <div>
                    <i class="fa-solid fa-book text-[40px] mt-[20px]"></i>
                </div>
                <div class="px-[20px]">
                   <h4 class="text-[25px] font-[600] text-[maroon]">Online Courses</h4>
                   <h5 class="pt-[10px] font-[500]">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h5>
                </div>
            </div>
            <div class="flex my-[30px] border-2 p-[25px] hover:bg-[linear-gradient(#800000de,transparent)] hover:text-white duration-400">
                <div>
                    <i class="fa-solid fa-certificate text-[40px] mt-[20px]"></i>
                </div>
                <div class="px-[20px]">
                   <h4 class="text-[25px] font-[600] text-[maroon]">Earn A Certificates</h4>
                   <h5 class="pt-[10px] font-[500]">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h5>
                </div>
            </div>
            <div class="flex my-[30px] border-2 p-[25px] hover:bg-[linear-gradient(#800000de,transparent)] hover:text-white duration-400">
                <div>
                    <i class="fa-solid fa-child text-[40px] mt-[20px]"></i>
                </div>
                <div class="px-[20px]">
                   <h4 class="text-[25px] font-[600] text-[maroon]">Learn with Experts</h4>
                   <h5 class="pt-[10px] font-[500]">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./footer.ejs') %>
