<%- include('./header.ejs') %>
<div class="container-fluid container1">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4 col text-center">
                <i class="fa fa-user"></i>
                <h3 class="text-white">Student</h3>
                <p class="text-white">Student can manage or view Their Grievance Here..</p>
                <button class="btn mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
            </div>
            <div class="col-md-4 col text-center">
                <i class="fa fa-user"></i>
                <h3 class="text-white">Dean/Principal</h3>
                <p class="text-white">This section manage by Dean and principal here..</p>
                <button class="btn mb-2" data-bs-toggle="modal" data-bs-target="#principal">Login</button>
            </div>
            <div class="col-md-4 col text-center">
                <i class="fa fa-user"></i>
                <h3 class="text-white">Handler & Admin</h3>
                <p class="text-white">This section handle by grivience handler here..</p>
                <button class="btn mb-2" data-bs-toggle="modal" data-bs-target="#admin">Login</button>
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Student login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/verifylogin" method="post">
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                        <div class="mb-3">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- handler and admin login  -->
<div class="modal fade" id="admin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Handler & Admin login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/verifylogin" method="post">
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                        <div class="mb-3">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button class="btn btn-info" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

  <!-- Dean and principal login  -->
  <div class="modal fade" id="principal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Dean and principal login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/verifylogin" method="post">
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                        <div class="mb-3">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('./footer.ejs') %>
