<!-- start footer  -->
<div class="paraf p-[30px]" id="contact">
    <div class="max-w-[1200px] mx-auto">
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="footer-content">
                    <h3 >MPCT Grivance Portal</h3>
                    <p class="pt-2">#1 Online Grievance Redressal Mechanism designed in accordance with AICTE directive aims at
                        resolving the grievances of students, parents, staff and others with optimal transparency and
                        accuracy.
                    </p>
                    <div class="footer-social mt-4">
                        <a href="" class="insta"><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-content ps-5">
                <ul>
                    <h3>Help Desk</h3>
                    <li> <a href="">Customer Care</a></li>
                    <li><a href=""> Legal Help</a></li>
                    <li><a href=""> Services</a></li>
                    <li><a href=""> Privacy and Policy</a></li>
                    <li><a href=""> Refund Policy</a></li>
                    <li><a href="">Call Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-content">
                <ul>
                    <h3>Recent Courses</h3>
                    <li> <a href="">Computer Engineering</a></li>
                    <li><a href="">Web Design</a></li>
                    <li><a href=""> Business Studies</a></li>
                    <li><a href="">Civil Engineering</a></li>
                    <li><a href="">Computer Technician</a></li>
                    <li><a href="">Web Developer</a></li>
                </ul>
            </div>
            <div class="col-md-3 pb-5">
                <form class="">
                    <input type="text" placeholder="Your Name" class="form-control">
                    <input type="email" placeholder="Your Email" class="form-control mt-2">
                    <input type="text" placeholder="Subject" class="form-control mt-2">
                    <textarea rows="4" class="form-control mt-2"></textarea>
                    <button class="btn mt-2 btn1">Send messege</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- footer end  -->

<!-- modal -->
<div class="modal fade" id="Modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="./image/img2.jpg" alt="" class="img-fluid w-100">
            </div>
        </div>
    </div>
</div>

</body>

</html>