<%- include('./header.ejs') %>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1592930954854-7d00c87d0cf4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                    class="d-block w-100 img-fluid imgc" alt="...">
            </div>
            <div class="carousel-item ">
                <img src="https://images.unsplash.com/photo-1606761568499-6d2451b23c66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                    alt="..." class="d-block w-100 img-fluid imgc">
            </div>
            <div class="carousel-item ">
                <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                    alt="..." class="d-block w-100 img-fluid imgc">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="w-[100%] bg-[linear-gradient(#800000de,transparent)] py-[35px]">
       <h1 class="text-center text-white font-[500] sm:text-[40px] text-[30px] py-[30px] sm:items-center mx-auto">Browse Online Course Category</h1>
            <div class="max-w-[1170px] mx-auto grid sm:grid-cols-3 lg:grid-cols-6 grid-cols-1 px-[20px] overflow-hidden py-[30px] sm:px-[50px] px-[70px] space-x-2">
                <div class="w-[210px] h-[210px] bg-[url('image/work-1.jpg.webp')] rounded-[50%] bg-center bg-cover relative ring-2 ring-white ">
                    <div class="absolute w-[210px] h-[210px]  bg-[#0000009c] rounded-[50%] ">
                        <div class="text-center position-absolute top-[80px] left-[30px] text-white text-[25px] font-[600]">
                            <h4>IT & Software</h4>
                            <h4>100 course</h4>
                        </div>
                    </div>
                </div>
                <div class="w-[210px] h-[210px]  bg-[url('image/work-3.jpg.webp')] rounded-[50%] bg-center bg-cover relative ring-2 ring-white sm:my-[0px] my-[10px] ">
                    <div class="absolute w-[210px] h-[210px]  bg-[#0000009c] rounded-[50%] ">
                        <div
                            class=" text-center position-absolute top-[80px] left-[30px] text-white text-[25px] font-[600]">
                            <h4>Music</h4>
                            <h4>100 course</h4>
                        </div>
                    </div>
                </div>
                <div class="w-[210px] h-[210px]  bg-[url('image/work-5.jpg.webp')] rounded-[50%] bg-center bg-cover relative ring-2 ring-white">
                    <div class="absolute w-[210px] h-[210px]  bg-[#0000009c] rounded-[50%] ">
                        <div
                            class=" text-center position-absolute top-[80px] left-[30px] text-white text-[25px] font-[600]">
                            <h4>Photography</h4>
                        <h4>100 course</h4>
                        </div>
                    </div>
                </div>
                <div class="w-[210px] h-[210px]  bg-[url('image/work-6.jpg.webp')] rounded-[50%] bg-center bg-cover relative ring-2 ring-white sm:my-[0px] my-[10px]">
                    <div class="absolute w-[210px] h-[210px]  bg-[#0000009c] rounded-[50%] ">
                        <div
                            class=" text-center position-absolute top-[80px] left-[30px] text-white text-[25px] font-[600]">
                            <h4> Marketing</h4>
                            <h4>100 course</h4>
                        </div>
                    </div>
                </div>
                <div class="w-[210px] h-[210px]  bg-[url('image/work-8.jpg.webp')] rounded-[50%] bg-center bg-cover relative ring-2 ring-white">
                    <div class="absolute w-[210px] h-[210px]  bg-[#0000009c] rounded-[50%] ">
                        <div
                            class=" text-center position-absolute top-[80px] left-[30px] text-white text-[25px] font-[600]">
                            <h4>Health</h4>
                            <h4>100 course</h4>
                        </div>
                    </div>
                </div>
                <div class="w-[210px] h-[210px]  bg-[url('image/work-9.jpg.webp')] rounded-[50%] bg-center bg-cover relative ring-2 ring-white sm:my-[0px] my-[10px]">
                    <div class="absolute w-[210px] h-[210px]  bg-[#0000009c] rounded-[50%] ">
                        <div
                            class=" text-center position-absolute top-[80px] left-[30px] text-white text-[25px] font-[600]">
                            <h4>Audio Video</h4>
                            <h4>100 course</h4>
                        </div>
                    </div>
                </div>
           </div>
    </div>

    <div class="para3 ">
        <div class="max-w-[1200px] mx-auto py-5">
            <h1 class="text-center heading">Why Grievance Redressal System?</h1>
            <div class="row mt-4">
                <div class="col-md-6 side">The Grievance Redressal Cell has been developed to settle the grievances of
                    the students and other stakeholders within a reasonable time period for further strengthening the
                    bond of the students with the institution by providing them with all kind of facilities to a
                    satisfaction level for maintaining a convenient ambience of academic teaching and learning.
                    Oréll believes that providing on time and competent service is essential not only to attract new
                    customers, but also to retain existing ones. ITMGrievance, the revolutionary online grievance
                    handling mechanism aims at minimising instances of complaints in professional</div>

                <div class="col-md-6 ">
                    <img src="https://edugrievance.com/image/home-grievance-redressal-system-content-img.png" alt=""
                        class="image-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class=" container1">
        <div class="max-w-[1200px] mx-auto">
            <div class="row py-5">
                <div class="col-md-4 col text-center">
                    <i class="fa fa-user"></i>
                    <h3 class="text-white text-[30px]">Student</h3>
                    <p class="text-white">Student can manage or view  Grievance Here..</p>
                    <button class="btn my-[10px]" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
                </div>
                <div class="col-md-4 col text-center">
                    <i class="fa fa-user"></i>
                    <h3 class="text-white text-[30px]">Dean/Principal</h3>
                    <p class="text-white">This section manage by Dean and principal here..</p>
                    <button class="btn my-[10px]" data-bs-toggle="modal" data-bs-target="#principal">Login</button>
                </div>
                <div class="col-md-4 col text-center">
                    <i class="fa fa-user"></i>
                    <h3 class="text-white text-[30px]">Handler & Admin</h3>
                    <p class="text-white">This section handle by grivience handler here..</p>
                    <button class="btn my-[10px]" data-bs-toggle="modal" data-bs-target="#admin">Login</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Student login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/verifylogin" method="post">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button class="btn btn-info">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- handler and admin login  -->
    <div class="modal fade" id="admin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Handler & Admin login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/verifylogin" method="post">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button class="btn btn-info" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Dean and principal login  -->
    <div class="modal fade" id="principal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Dean and principal login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/verifylogin" method="post">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button class="btn btn-info">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('./footer.ejs') %>