<%- include('../layouts/header.ejs') %>
<%- include('../layouts/sidebar.ejs') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
     
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
    <br><br>
     <div class="card">
        <div class="card-header">
          <h3 class="card-title">Change Password</h3>
          
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <% if(msg.length> 0){ %>
            <div class="alert alert-danger">
                    <%= msg %>
            </div>
          <% } %>
            <form action="/updatepassword" method="post">
                <div class="form-group">
                  <label for="">old Password</label>
                  <input type="password"  name="oldpassword" class="form-control" required> 
                </div>
                <div class="form-group">
                  <label for="">New Password</label>
                  <input type="password" name="newpassword" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="">Confirm Password</label>
                  <input type="password" name="confirmpassword" class="form-control">
                </div>
                <button class="btn btn-warning" type="submit"> Update Password</button>
               </form>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


 
<%- include('../layouts/footer.ejs') %>